
<div fxLayoutAlign="Center Center" fxFlexFill class ="main-div">
    <mat-card fixflex="25">
        <mat-toolbar color="primary">User Registration Page </mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login form">
            <mat-form-field  appearance="fill">
                <input matInput placeholder="FirstName">
            </mat-form-field>
          
            <mat-form-field  appearance="fill">
                <input matInput placeholder="LastName">
            </mat-form-field>
            <mat-form-field  appearance="fill">
                <input matInput placeholder="UserName">
            </mat-form-field>
            <mat-form-field  appearance="fill">
                <input matInput placeholder="Mobileno">
            </mat-form-field>


              <mat-form-field  appearance="fill">
                
                
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
              
              <button mat-raised-button type="submit"> Login </button>
              <p class="mb-5 pb-lg-2" style="color: #ebe3e4;">Already have an account? <a routerLink="/login"
                style="color: #d4d4e5;">Sign in here</a></p>
            
          </form>

    </mat-card>
        
          
    


</div>

