<div fxLayoutAlign="Center Center" fxFlexFill class ="main-div">
    <mat-card fixflex="25">
        <mat-toolbar color="primary">Login Page </mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login form">
            <mat-form-field  appearance="fill">
            
              <input matInput placeholder="UserName">
            </mat-form-field>
          
            <mat-form-field  appearance="fill">
                
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
              <button mat-raised-button type="submit"> Login </button>
            
          </form>

    </mat-card>
        
          
    


</div>
